@{
  Layout = "_Layout";
}

<h1>Welcome Pierre! This is your own specialized app to help keep track of your vendors!</h1>
<h3><a href='/vendor'>View vendors</a></h3>
<h3><a href='/vendor/new'>Add a new vendor</a></h3>