@{
  Layout = "_Layout";
}

<div class="splash">
  <h2>This is your own specialized app to help keep track of your vendors!</h2>
</div>
<div class="homeButtons">
  <a href='/vendor'><button class="btn btn-warning">View Vendors</button></a>
  <a href='/vendor/new'><button class="btn btn-warning">Add Vendor</button></a>
</div>
