@{
  Layout = "_Layout";
}

<h2>This is your own specialized app to help keep track of your vendors!</h2>
<h3><a href='/vendor'>View vendors</a></h3>
<h3><a href='/vendor/new'>Add a new vendor</a></h3>